# --- Python -------------------------------------------------------------------
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/
.pytest_cache/
.venv/
.uv/
.ruff_cache/
.ty_cache/
.mypy_cache/
